#publications {
    display: flex;
}

#publications h2 {
    text-transform: capitalize;
}

#publications ul {
    padding-left: 0;
}

#publications li {
    list-style-type: none;
}

#publications .publication {
    padding-right: 5px;
}

#publications .ref {
    text-transform: uppercase;
    font-weight: bold;
}

#publications .title,
#publications .authors {
    padding-left: 10px;
}

#publications .title {
    margin: 0;
    line-height: 1.2;
}

#publications .authors {
    font-size: small;
}